.sectionheader {}

.divheadertoda {
    display: flex;
    margin: 40px 0 0 70px;
    



}

.imagemlogodigital {
    justify-content: start;
    align-self: center;
    margin: 0;

}

.textodigitalstore {
    display: flex;
    align-items: center;
    color: rgb(201 32 113);
    font-weight: 600;
    font-size: xx-large;
    margin-top: 19px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

.linkdigital {}

.divpesquisar {

    display: flex;
    align-items: center;
    opacity: 55%;

}

.campopesquisar {

    width: 559px;
    height: 60px;
    top: 63px;
    left: 361px;
    border-radius: 8px 0 0 8px;
    border: none;
    background-color: #eae9e9;
}

.imagemlupa {
    align-self: center;
    background-color: #eae9e9;
    border-radius: 8px;
    padding: 17.5px;
    border-radius: 0 8px 8px 0;
    opacity: 50%;
    margin: 0 20px 0 0;

}

.linkcadastro {


    align-content: center;
    margin: 0 30px 0 0;

}

.divbotaoentrar {


}

.botaoentrar {
    display: flex;  
    
}

.imagemcarrinho {
    align-content: center;
    margin: 20px;

}

.finalheader {
   align-content:center ;
    
}

.divlinks {
    display: flex;
    margin: 20px;

}

.links {
   
}

.sectionqueima{
    display: flex;
}

.divqueima {
 display: flex;  
 flex-direction: column;
 width: 50%;
 
}

.melhoresofertas {}

.melhores {
    display: flex;
    color: rgb(246 170 28);
    line-height: 24px;
    margin: 0;
    background-color: aqua;

}

.queima {
    display: flex;
    align-items: center;
    background-color: brown;
    padding-right: 20%;
    margin-top: 60px;

}

.consequat {}

.sapato {
    display: flex;
    justify-content: end;
    


}