
.headertoda {
    /*toda a div header*/
    background-color: rgb(255, 255, 255);
   
}

.primeiralinhaheader {
    display: inline-flex;
    align-items: center;
    padding: 10px 0 0 67px;
}

.logodigital {
    /*logo digital college*/
    margin: 6px 0 0 0;

}

.campodetexto {
    width: 510px;
    height: 60px;
    top: 63px;
    border-radius: 8px 0 0 8px;
    margin-left: 5px;
    border: none;
    background-color: #f1f4f8;
}

.imagemlupa {
    background-color: #f1f4f8;
    margin: 20px 0 20px 0;
    padding: 17.5px;
    border-radius: 0 8px 8px 0;

}
.botaocadastrar:hover{
    color: rgb(119, 112, 112);
}
.botaocadastrar {
    margin: 0 0 0 50px;
    width: 102px;
   
    left: 968px;
    align-items: center;
    color: rgb(119, 112, 112);
    font-family: sans-serif;
    

}

.imagementrar {
    margin-top: 10px;
    padding: 10px;
    

}

.imagemcarrinho {
    background-color: rgb(255, 255, 255);
    margin-left: 30px;

}
.linkhome{
    color: #C92071;
    margin: 0 0 0 50px;
    font-family: inter;
    font-size: larger;
    


}
.linkhome:hover{
   color: #C92071;
}
.linka:hover{
    color:#474747
}
.linka{
    color: #474747;
    margin: 30px 0 0 50px;
    font-size: larger;

    text-decoration: none;
    font-family: inter;
    
}
.links{
    margin-top: 40px;
    
}


*{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
